:root {
    --main-color: #07333d;
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    position: relative;
    height: 47px;
}

nav {
    width: 100%;
    background-color: #333D63;
}

.container {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
}

.menu_list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu_list .menu_item {
    list-style-type: none;
}

.menu_list .menu_item .menu_link {
    text-decoration: none;
    padding: 0 25px;
    line-height: 47px;
    font-size: 19px;
    font-weight: 400;
    color: #828CB1;
    transition: color .3s;
}

.menu_list .menu_item a:hover {
    color: #FFD673;
    text-decoration: underline solid 2px #FFD673;
    transition-property: all;
    transition: .5s;
}

.aside {
    display: flex;
    flex-direction: column;
    justify-items: stretch;
    background-color: #828CB1;
    align-items: center;
}

.flex_item_left .avatar_img {
    margin-top: 10px;
    border-radius: 8px;
    padding: 15px;
    width: 320px;
    cursor: pointer;
    object-fit: cover;
}

.item_contact .title {
    margin-top: 15px;
    text-align: center;
    padding: 0 20px;
    color: var(--main-color);
}

.contact {
    display: flex;
    text-align: justify;
    margin: 20px 10px;
    color: var(--main-color);
}

.icon-discord:before {
    content: url(../../icon/discord.svg);
}

.icon-github:before {
    display: flex;
    align-self: center;
    content: url(../../icon/github.svg);
}

.icon-location:before {
    content: url(../../icon/location.svg);
}

.icon-mobile:before {
    content: url(../../icon/mobile.svg);
}

.icon-mail:before {
    content: url(../../icon/mail.svg);
}

.icon-linkedin:before {
    content: url(../../icon/discord.svg);
}

.item_contact .title {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: var(--main-color);
}

.contact>a {
    text-decoration: none;
    color: var(--main-color);
}

.contact>a:hover {
    color: #FFD673;
    text-decoration: underline solid 2px #FFD673;
    transition-duration: .5s;
}

.contact>span {
    padding: 0 10px;
    color: var(--main-color);
}

.header .name {
    display: block;
    margin-bottom: 0;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: var(--main-color);
}

.flex_item_right {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    padding: 0 30px;
}

.flex_item_right .subheader {
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    color: var(--main-color);
}

.descr_text {
    display: flex;
    font-size: 18px;
    line-height: 26px;
    color: var(--main-color);
    min-width: 50%;
    border-radius: 6px;
    margin-top: 10px;
    text-align: inherit;
}

.list_item {
    display: flex;
    list-style-type: none;
    padding: 0 50px;
}

.skills {
    margin-bottom: 15px;
}

.list_item::before {
    content: "❑";
    color: var(--main-color);
    padding-right: 20px;
}

footer .container {
    min-height: 60px;
    background-color: #333D63;
    background-size: contain;
    background-repeat: no-repeat;
    justify-content: space-between;
}

.year {
    font-size: 18px;
    font-weight: 700;
    align-self: center;
    padding: 15px 50px;
}

.rss {
    width: 170px;
}

.github {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.year::before {
    content: "©";
    color: #000;
}